@charset "utf-8";

body{
    font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #f8eab0;
    padding-bottom: 20px;
}

/*
header
*/


.header{
    margin: 0;
    background-color: #f1d052;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.header-navlist{
    display: flex;
    margin: 0 auto;
    width: 850px;
}
.header-navitem{
    padding-left: 10px;
    padding-right: 5px;
    border-right: 2px solid #333;
    margin: 5px 0;
}
.header-navitem >a{
    text-decoration: none;
    color: #333;
}

.page-Wrapper{
    width: 850px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 50px;
    padding-bottom: 30px;
}
@media screen and (max-width: 768px){

    .page-Wrapper{
        width: 100%;
    }
}
.page-title{
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 1.0), #fbf2cf);
    margin: 0;
    text-align: center;
}
.top-images{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.top-imageitem{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px;
}

@media screen and (max-width: 768px){
    .top-imageitem{
        width: 100%;
        height: auto;
    }
}
.menu{

}
.menu-header{
    margin-left: 7px;
    margin-right: 7px;
}
.menu-top{
    border-left: 5px solid #333;
    padding-left: 5px;
    margin: 0;
}
.menutop-text{
    margin-top: 5px;
}
.menu-section{
    margin-left: 7px;
    margin-right: 7px;
}
.menu-title{
    color: #dd0037;
    background-color: #dddddd;
    padding: 4px;
}
.menu-table ,.menu-table th ,.menu-table td{
    border-collapse: collapse;
    border: solid 1px #999999;
}
.menu-table{
    width: 100%;
}

.menu-table th{
    width: 30%;
    text-align: left;
    background-color: #dddddd;
}
.menu-table td{
    width: 70%;
}
.menu-table th, .menu-table td{
padding: 5px 0px 5px 3px;
}
.illustration{
    display: block;
    width: 100%;
    height: auto;
    margin: 40px 0px 0px 0px;
}
.message{
    margin-left: 7px;
    margin-right: 7px;
}
.textarea{
    text-align: center;
}
.takeout-info{
    color: #4580c6;
    background-image: -webkit-linear-gradient(top, #ffdde5, #ffffff);
    border-style: double;
    border-width: 4px;
    border-color: #3a230c;
    font-size: 1.5rem;
}
.link-list{
    margin: 25px 7px 40px 7px;
}
.link-list ul{
    margin: 0;
    padding: 0;
}
.link-list li{
    display: block;
    width: 100%;
    background-image: -webkit-linear-gradient(top, #dddddd, #ffffff);
    border: 1px solid #333;
    border-collapse: collapse;
}
.list-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.list-table-item{
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
}
.footer{
    background-color: #fbf2cf;
}
.sns{
    display: flex;
    width: 100%;
    justify-content: center;
    /*display flexがついているときはtextallignやmargin0autoは効かない*/
    margin-top: 20px;
    padding-top: 10px;
}
.sns-button{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 32px;
    text-align: center;
    position: relative;
    margin: 5px 10px;
}
.twitter-button{
    background-color: #55acee;;
}
.instagram-button{
    background-color: #f13f79;

}
.sns-button > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    z-index: 10;
    color: #fff;
}
.contact{
    text-align: center;
}
.contact >a{
    text-decoration: none;
    color: #333;
}
.contact >a >p{
    margin: 0;
}
.tel >p{
    margin: 0;
}